<div class="footer-wrapper">
    <footer>
        <p>Page maintained by IT Solutions - Architecture & Innovation team. Please let us know if you want us to
            include a new project here. <br>
            <i class="fa-brands fa-medium"></i> - Follow us on Medium <br>
            <i class="fa-brands fa-vimeo"></i> - Follow us on Vimeo <br>
            Logo and theme by <a href="https://linktr.ee/Wysmahs_Art" target="_blank"
                rel="noopener noreferrer">Wysmahs</a> - Integration by <a
                href="https://www.linkedin.com/in/petit-louis-developpeur-web/" target="_blank"
                rel="noopener noreferrer">Louis Petit</a>
        </p>
    </footer>
</div>