<div class="footer-wrapper">
    <footer>
        <p>Page maintained by IT Solutions - Architecture & Innovation team. <br>
            <strong>
                Please let us know if you want us to include a new project here. <br>
            </strong>
            <i class="fa-brands fa-medium"></i> - <a href="https://medium.com/pernod-ricard-tech" target="_blank"
                rel="noopener noreferrer">Follow us on Medium</a><br>
            <i class="fa-brands fa-vimeo"></i> - <a href="https://vimeo.com/itarchitecture/" target="_blank"
                rel="noopener noreferrer">Follow us on Vimeo</a><br>
            Logo and theme by <a href="https://linktr.ee/Wysmahs_Art" target="_blank"
                rel="noopener noreferrer">Wysmahs</a> - Integration by <a
                href="https://www.linkedin.com/in/petit-louis-developpeur-web/" target="_blank"
                rel="noopener noreferrer">Louis Petit</a>
        </p>
    </footer>
</div>