<div class="header-wrapper">
    <header>
        <img src="assets/img/logo.svg" alt="Image de test" width="350px" height="350px">
        <h1>OpenBar</h1>
        <p><a href="https://www.pernod-ricard.com/fr"><span class="yellow-text-wrapper">Pernod Ricard</span></a>
            initiative to promote Open Source and Open Data</p>
        <h2>Share your IT with the most tasty OpenSource and OpenData solutions. Tried, <del>tasted</del> tested and
            approved by <a href="https://www.pernod-ricard.com/fr"><span class="yellow-text-wrapper">Pernod Ricard
                    🍸</span></a>
        </h2>
    </header>
</div>