<div class="light-block">
    <div class="light-block-wrapper">
        <h3>{{ site.data.hsts_analyzer.header.title }}</h3>
        <p>{{ site.data.hsts_analyzer.header.description }}</p>
        <div class="lbw--logo-wrapper">
            <ul>
                {% for data in site.data.hsts_analyzer.datas %}
                <li>
                    <a href="{{ data.link }}">
                        <img src="{{ data.image_src }}" alt="{{ data.image_alt }}">
                        <h4 class="grey-text-wrapper">{{ data.name }}</h4>
                        <p>{{ data.description }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="lbw--link-wrapper">
            <ul>
                {% for example in site.data.hsts_analyzer.examples %}
                <li><a href="{{ example.link }}"><img src="{{ example.image_src }}">
                        <span class="grey-text-wrapper">{{ example.title }}</span>{{ example.description }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="dark-block">
    <div class="dark-block-wrapper">
        <h3>{{ site.data.dr_header.header.title }}</h3>
        <p>{{ site.data.dr_header.header.description }}</p>
        <div class="dbw--logo-wrapper">
            <ul>
                {% for data2 in site.data.dr_header.datas %}
                <li>
                    <a href="{{ data2.link }}">
                        <img src="{{ data2.image_src }}" alt="{{ data2.image_alt }}">
                        <h4 class="yellow-text-wrapper">{{ data2.name }}</h4>
                        <p>{{ data2.description }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dbw--link-wrapper">
            <ul>
                {% for example in site.data.dr_header.examples %}
                <li><a href="{{ example.link }}"><img src="{{ example.image_src }}">
                        <span class="yellow-text-wrapper">{{ example.title }}</span>{{ example.description }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>