@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/*          BODY                */
/*          HEADER              */
/*          MAIN                */
/*          FOOTER              */
/*          MEDIA QUERIES       */

/* BODY */
* {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    text-align: center;
}

/* HEADER */

header {
    background-color: #3c3c3b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 250px;
    height: 250px;
}

header h1 {
    font-size: 6rem;
}

header p {
    margin-bottom: 8rem;
}

header h2 {
    padding: 0 5rem 0 5rem;
    margin-bottom: 4rem;
    max-width: 1240px;
}

.yellow-text-wrapper {
    color: #ead348;
}

/* MAIN */

a {
    text-decoration: none;
    color: black;
}

.light-block a, .dark-block a {
    display: block;
    padding: 1rem;
    border-radius: 15px;
    transition: 1s;
}

.lbw--logo-wrapper a:hover, .dbw--logo-wrapper a:hover {
    transition: 1s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.dark-block a {
    color: #fff;
}

.dbw--link-wrapper a .yellow-text-wrapper:hover, header .yellow-text-wrapper:hover {
    color: #666565;
}

.lbw--link-wrapper a .grey-text-wrapper:hover {
    color:#ead348;
}

ul {
    list-style: none;
}

.light-block-wrapper {
    max-width: 1400px;
}

.light-block-wrapper img, .dark-block-wrapper img {
    width: 150px;
    height: 150px;
}

.light-block-wrapper, .dark-block-wrapper {
    margin: 4rem 0 4rem 0;
    padding: 2rem 4rem;
    background-color: #FFF;
    color: #000;
}

.dark-block-wrapper {
    margin: 4rem 0 0 0;
}

.light-block-wrapper h3, .dark-block-wrapper h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 1.5rem;
}

.grey-text-wrapper {
    color:#3c3c3b;
}

.dark-block, .light-block{
    display: flex;
    justify-content: center;
    width: 100%;
}

.dark-block {
    background-color: #3c3c3b;
}

.dark-block-wrapper {
    max-width: 1400px;
    background-color: #3c3c3b;
    color: #fff;
}

.lbw--logo-wrapper ul, .dbw--logo-wrapper ul {
    display:flex;
    justify-content: space-evenly;
}

.lbw--logo-wrapper li, .dbw--logo-wrapper li {
    margin: 4rem 0 4rem 0;
    width: 20%;
}

.lbw--link-wrapper, .dbw--link-wrapper {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}

.lbw--link-wrapper .grey-text-wrapper, .dbw--link-wrapper .yellow-text-wrapper {
    margin-left: 2rem;
}

.lbw--link-wrapper a {
    color: #000;
    text-decoration: none;
}

.dbw--link-wrapper a {
    color: #FFF;
    text-decoration: none;
}

.lbw--link-wrapper img,.dbw--link-wrapper img {
    width: 50px;
    height: 50px;
}

.lbw--link-wrapper li, .dbw--link-wrapper li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.lbw--link-wrapper li a, .dbw--link-wrapper li a{
    display: flex;
    align-items: center;
}

/* FOOTER */

footer {
    padding: 2rem 0;
    background-color: #2a2a2a;
}

footer a {
    color: #FFF;
}

/* MEDIA QUERIES */

@media (max-width: 1399.98px) {
    header p {
        margin-bottom: 5rem;
    }
    .dark-block-wrapper {
        margin-bottom:0;
    }
}

@media (max-width: 991.98px) {
    .lbw--link-wrapper li, .dbw--link-wrapper li {
        flex-direction: column;
        text-align: center;
    }

    .lbw--logo-wrapper ul, .dbw--logo-wrapper ul {
        flex-direction: column;
    }

    .lbw--link-wrapper a, .dbw--link-wrapper a {
        flex-direction: column;
    }

    .lbw--logo-wrapper li, .dbw--logo-wrapper li {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    header h1 {
        font-size: 4rem;
    }

    header h2 {
        padding: 1.5rem;
    }

    .light-block-wrapper h3, .dark-block-wrapper h3 {
        font-size: 2.75rem;
    }

    .lbw--logo-wrapper li, .dbw--logo-wrapper li {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .light-block-wrapper, .dark-block-wrapper {
        padding: 0;
    }

}